body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #232526, #414345);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    color: #e0e0e0;
    font-size: 18px;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

#page-content-wrapper {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #1c1c1c;
    color: #e0e0e0;
    transition: background-color 0.5s ease;
}

#page-content-wrapper:hover {
    background: #333;
}

.custom-navbar {
    background-color: black;
    padding: 0.5rem 1rem;
}

.navbar-logo {
    width: 40px;
    height: auto;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    color: white;
}

.nav-link:hover {
    color: #ccc;
}

.contact-header {
    background: url('../assets/contactus.jpg') no-repeat center center;
    background-size: cover;
    height: 250px;
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-header h1 {
    position: relative;
    top: 50px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
}

.contact-content {
    color: #B4B4B8;
    background-color: rgba(34, 34, 34, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-content h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    color: #B4B4B8;
}

.contact-content a {
    color: #2575fc;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
}

.contact-content a:hover {
    text-decoration: underline;
}

.map {
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 50px auto auto auto;
}

.footer {
    background-color: #000000;
    color: #e0e0e0;
    padding: 15px 0;
    text-align: center;

}
.heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.telegram, .mail-id, .contact-content p {
    line-height: 1.6;
    color: #B4B4B8;
    font-size: 24px;
    margin: 20px auto auto auto;
}

.contact-link {
    display: block;
    margin: 10px 0;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.contact-link:hover {
    text-decoration: underline;
}