@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background: #e0e0e0;
    color: #fff;
}


.custom-navbar {
    background-color: black;
    padding: 0.5rem 1rem;
  }
  
  .navbar-logo {
    width: 40px;
    height: auto;
  }
  
  .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-size: 1rem;
    color: white; 
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  

section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    margin: 2rem 0;
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.8rem;
}

.question .arrow {
    width: 20px;
    transition: transform 0.3s;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .answer {
    max-height: none;
}

.faq.active .question .arrow {
    transform: rotate(180deg);
}

.footer {
    background-color: #000000; 
    color: #e0e0e0; 
    padding: 15px 0;
    text-align: center;
  }
  
